<%= render 'layouts/header' %>
<hr>
<p>--- ERROR ---</p>
<hr>
<small>Author: <%= link_to 'BanditHijo.Com', 'https://bandithijo.com', target: "_blank" %> | October 2019</small>
<% if Rails.env.development? %>
  <hr>
  <%= debug(params) %>
<% end %>
