<p>
  Select API :
  <%= link_to 'ExchangeRatesAPI', exchange_one_index_path %> |
  <%= link_to 'RatesAPI', exchange_two_index_path %> |
  <%= link_to 'Fixer.io', exchange_three_index_path %> |
  <%= link_to 'OpenExchangeRates.org', exchange_four_index_path %>
</p>

<h1 style="margin-block-end:0;">Exchange Rates API</h1>
<p style="margin-block-start:0;margin-block-end:0;">Foreign exchange rates API with currency conversion.</p>
