<p>
  Select API :
  <%= link_to 'ExchangeRatesAPI', exchange_one_index_path %> |
  <%= link_to 'RatesAPI', exchange_two_index_path %> |
  <%= link_to 'Fixer.io', exchange_three_index_path %> |
  <%= link_to 'OpenExchangeRates.org', exchange_four_index_path %>
</p>
